port {{openvpn_server_port}}
proto {{openvpn_server_proto}}
dev tun

ca {{openvpn_ca_certificate}}
cert {{openvpn_server_certificate}}
key {{openvpn_server_private_key}}
crl-verify {{openvpn_ca_crl}}
dh {{openvpn_server_dhparam}}
tls-auth {{openvpn_server_tls_auth}} 0

server {{openvpn_server_network}} {{openvpn_server_netmask}}
push "dhcp-option DNS {{openvpn_server_dns}}"

auth-user-pass-verify {{openvpn_server_auth_user_pass_verify}} via-file
client-cert-not-required
cipher none

keepalive 10 120
comp-lzo
persist-key
persist-tun

user nobody
group nogroup

log-append  {{openvpn_server_log}}
status {{openvpn_server_status}}

verb 3
